body {
  background: rgb(152, 222, 242);
}

#body {
  background: rgb(246, 246, 249);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  top: 350px;
  left: 200px;
  position: absolute;
}

.button {
  background-color: rgb(0, 0, 3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 336px;
}

#buttonOne {
  top: 388px;
}

#buttonTwo {
  top: 460px;
}

#buttonThree {
  top: 532px;
}

#head {
  background: rgb(246, 246, 249);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  top: 213px;
  left: 277px;
  position: absolute;
}

#leftEye {
  background: rgb(0, 0, 3);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 244px;
  left: 320px;
  position: absolute;
}

#rightEye {
  background: rgb(0, 0, 3);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 244px;
  left: 358px;
  position: absolute;
}

#nose {
  border-right: 59px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 18px solid rgb(221, 93, 21);
  position: absolute;
  top: 265px;
  left: 341px;
  transform: rotate(10deg);
}

.mouth {
  background: rgb(0, 0, 3);
  border-radius: 50%;
  position: absolute;
  height: 10px;
  width: 10px;
}

#mouthOne {
  top: 300px;
  left: 314px;
}

#mouthTwo {
  top: 313px;
  left: 325px;
}

#mouthThree {
  top: 320px;
  left: 342px;
}

#mouthFour {
  top: 312px;
  left: 361px;
}

#mouthFive {
  top: 300px;
  left: 372px;
}

#topHat {
  background: rgb(0, 0, 3);
  position: absolute;
  height: 60px;
  width: 41px;
  top: 155px;
  left: 330px;
}

#bottomHat {
  background: rgb(0, 0, 3);
  position: absolute;
  height: 10px;
  width: 89px;
  border-radius: 50%;
  top: 212px;
  left: 306px;
}

#leftArm {
  background: rgb(175, 123, 43);
  position: absolute;
  height: 20px;
  width: 184px;
  top: 417px;
  left: 122px;
  transform: rotate(20deg);
}

#rightArm {
  background: rgb(175, 123, 43);
  position: absolute;
  height: 20px;
  width: 184px;
  top: 424px;
  left: 394px;
  transform: rotate(163deg);
}

#leftHandOne {
  background: rgb(175, 123, 43);
  position: absolute;
  top: 352px;
  left: 137px;
  width: 11px;
  height: 40px;
  transform: rotate(193deg);
}

.fingers {
  background: rgb(175, 123, 43);
  position: absolute;
  width: 11px;
  height: 40px;
}

#leftHandTwo {
  top: 363px;
  left: 109px;
  transform: rotate(137deg);
}

#leftHandThree {
  top: 400px;
  left: 113px;
  transform: rotate(214deg);
}
#rightHandOne {
  top: 363px;
  left: 549px;
  transform: rotate(157deg);
}
#rightHandTwo {
  top: 375px;
  left: 584px;
  transform: rotate(240deg);
}
#rightHandThree {
  top: 409px;
  left: 579px;
  height: 40px;
  transform: rotate(130deg)
}
